div {
    font-size: 40px;
}


/* .first-element {
    color: green;
} */


/* 
div {
    color: green;
}

p {
    color: green;
}

ul {
    color: green;
} */


/* 100 */

#yellow {
    color: yellow;
}


/* 10 */

.green {
    color: green;
}